# Supabase Configuration
SUPABASE_URL=https://lyyonbpiuielzmtkryjt.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5eW9uYnBpdWllbHptdGtyeWp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4NTM4NTcsImV4cCI6MjA5MDQyOTg1N30.dlHQ2a2RqfXkfRsP3ZIK7pGc4XR4InVPVrqBxcjjXLk
